<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=PT+Mono&family=Supermercado+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=PT+Mono&family=Slabo+27px&family=Supermercado+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=PT+Mono&family=Patrick+Hand&family=Slabo+27px&family=Supermercado+One&display=swap" rel="stylesheet">


<h1>Product Description</h1>

<p>id : <span>{{productId}}</span></p>
<p> Product Name:<span>{{name}}</span></p>
<p>Category : <span>{{category}} </span></p>
<p> Product Price : <span>{{price}} </span></p>
<p>Product Stock Units : <span>{{stockunit}}</span></p>
<p>Product Serial Number : <span>{{serialnumber}}</span></p>
<p>Product Release Date : <span>{{releasedate}}</span></p>
<p> Product Description : <span>{{description}}</span></p>