<title>Product Universe</title>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=PT+Mono&display=swap" rel="stylesheet">
</head>

<h1>Product Universe</h1>
<h2>One place for all your needs!</h2>
<h3>Anushka, {{greeting}}</h3>
<br>
<button type="button" (click)="onSubmit()">Click Here</button>
<br>
<img src="assets/product-welcome.gif">