h1 {
    font-family: 'Supermercado One', cursive;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin: 35px;
    padding: 2px;
    color: saddlebrown;
}

p {
    font-family: 'Supermercado One', cursive;
    font-weight: bold;
    font-size: x-large;
    margin: 5px;
    padding: 1px;
    text-align: center;
    color: darkblue;
}

span {
    font-family: 'Patrick Hand', cursive;
    font-weight: 700;
    font-size: larger;
    margin: 5px;
    padding: 1px;
    color: cornflowerblue;
}

.green {
    color: green;
    font-size: larger;
    font-weight: 700;
    text-align: center;
    margin: auto;
}

.orange {
    color: orange;
    font-size: larger;
    font-weight: 700;
    text-align: center;
    margin: auto;
}

.red {
    color: red;
    font-size: larger;
    font-weight: 700;
    text-align: center;
    margin: auto;
}